<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Order From {{ first_name }} {{ last_name }}</title>
  </head>
  <body>
    <h2>New Order From {{ first_name }} {{ last_name }}</h2>
    <p><strong>First Name:</strong> {{ first_name }}</p>
    <p><strong>Last Name:</strong> {{ last_name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Phone:</strong> {{ phone }}</p>
    <p><strong>Address:</strong> {{ street }}, {{ lane }}, {{ city }}, {{ state }}, {{ country }}, {{ pin_code }}</p>
    <p><strong>Note:</strong> {{ note }}</p>
  </body>
</html>
